
{% include base_path %}

{% assign entry = post | default: item %}

{% if entry.header and entry.header.teaser %}
  {% capture teaser %}{{ entry.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if entry.id %}
  {% assign title = entry.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if entry.link %}
        <a href="{{ entry.link }}">{{ title }}</a>
        <a href="{{ base_path }}{{ entry.url }}" rel="permalink">
          <i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ base_path }}{{ entry.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if entry.date %}
      <p class="page__meta">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <strong>{{ page.date_label | default: entry.date_label | default: "Presented" }}:</strong>
        {{ entry.date | date: "%Y-%m-%d" }}
      </p>
    {% endif %}

    {% if entry.event or entry.location or entry.authors %}
      <p class="archive__item-excerpt" itemprop="description">
        {% if entry.event %}<strong>Event:</strong> {{ entry.event }}{% endif %}
        {% if entry.location %}{% if entry.event %} &nbsp;•&nbsp; {% endif %}{{ entry.location }}{% endif %}
        {% if entry.authors %}<br><em>{{ entry.authors }}</em>{% endif %}
      </p>
    {% endif %}

    {% if entry.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ entry.excerpt | markdownify }}
      </p>
    {% endif %}
  </article>
</div>
